<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.DynamicSQLMapper">
    <insert id="insertByList">
        insert into t_emp
        values
        <foreach collection="emps" item="emp" separator=",">
            (null, #{emp.empName}, #{emp.age}, #{emp.sex}, #{emp.email}, null)
        </foreach>
    </insert>

    <select id="getEmpByCondition" resultType="Emp">
        <!-- select * -->
        <!-- from t_emp -->
        <!-- <where> -->
        <!--     <if test="empName != null and empName != ''"> -->
        <!--         emp_name = #{empName} and -->
        <!--     </if> -->
        <!--     <if test="age != null and age != ''"> -->
        <!--         age = #{age} and -->
        <!--     </if> -->
        <!--     <if test="sex != null and sex != ''"> -->
        <!--         sex = #{sex} and -->
        <!--     </if> -->
        <!--     <if test="email != null and email != ''"> -->
        <!--         email = #{email} -->
        <!--     </if> -->
        <!-- </where> -->

        select *
        from t_emp
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empName != null and empName != ''">
                emp_name = #{empName} and
            </if>
            <if test="age != null and age != ''">
                age = #{age} and
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex} and
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
        </trim>
    </select>

    <sql id="empColumns">eid, emp_name, age, sex, email</sql>
    <select id="getEmpByChoose" resultType="Emp">
        select <include refid="empColumns"/>
        from t_emp
        <where>
            <choose>
                <when test="empName != null and empName != ''">
                    emp_name = #{empName}
                </when>
                <when test="age != null and age != ''">
                    age = #{age}
                </when>
                <when test="sex != null and sex != ''">
                    sex = #{sex}
                </when>
                <when test="email != null and email != ''">
                    email = #{email}
                </when>
                <otherwise>
                    did = 1
                </otherwise>
            </choose>
        </where>
    </select>

    <!-- <delete id="deleteByArray"> -->
    <!--     delete -->
    <!--     from t_emp -->
    <!--     where eid in -->
    <!--     <foreach collection="eids" item="eid" separator="," open="(" close=")"> -->
    <!--         #{eid} -->
    <!--     </foreach> -->
    <!-- </delete> -->

    <delete id="deleteByArray">
        delete
        from t_emp
        where
        <foreach collection="eids" item="eid" separator="or">
            eid = #{eid}
        </foreach>
    </delete>

</mapper>